.flex-header{
    display:flex;
    background-color: #55613f;
    
}

/*
Add margins for initials*/
.header-contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.contact-items {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    min-width:150px;
    fill: #dce0d2;
  }


  .body-container{
    color: #dce0d2;
    background-color: #878761;
  }